html {
  font-size: 62.5%;
}
body {
  width: 980px;
  margin: 0 auto;
}
.container {
  width: 980px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}
.header {
  background-color: #F5B4B3;
  height: 50px;
  font-size: 1.5rem;
}
.logo_image {
  width: 110px;
  float: left;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
ul.top_menu {
  float: right;
}
.top_menu li {
  float: left;
  width: auto;
}
.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}
.top_menu li a:hover {
  text-decoration: underline;
}
.image_area{
  width: 100%;
}
.wrapper{
  margin-top: 10px;
  padding-bottom: 100px;
}
.side_menu{
  width: 300px;
  float: left;
}
.side_menu li{
  background-color: #F5B4B3;
  height: 6rem;
  margin-bottom: 10px;
}
.side_menu li:hover{
  opacity: 0.6;
}
.banner a:hover {
  opacity: 0.6;
}
.side_menu li a{
  font-size:2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2rem;
}
.banner img{
  width: 100%;
}
.banner{
  margin-top: 20px;
}

.news{
  height: 200px;
  background-color: #FCE8E7;
  padding: 20px;
  overflow: scroll;
  line-height: 2;
}
.banner_content {
    margin-top: 10px;
    display: table;
}
.banner_content p {
  display: table-cell;
}
.banner_content p img {
  width: 100%;
}
.contactform{
  width: 660px;
  margin-left:20px;
  float: left;
  font-size: 1.5rem;
  padding-bottom: 150px;
}

.contact tr{
  height: 7rem;
}
.contact th {
  max-width: 150px;
  text-align: right;
}
.textarea_box{
  height: 5rem;
  margin-left: 16px;
  font-size: 12px;
  width: 480px;
}
.input_box{
  width: 480px;
  margin-left: 16px;
}
.checkbox{
  margin-left: 16px;
}
.submit_button {
  height: 40px;
  width: 80px;
  font-size: 20px;
  letter-spacing: 5px;
  margin-left: 290px;
  text-align: center;
  color: white;
  background-color:skyblue;
  border: white;

}
.submit_button:hover{
  opacity: 0.6;
}
.footer {
  background-color: grey;
  height: 100px;
  width: 100%;
  display: table;
  position: absolute;
  bottom: 0;
}
.footer p {
  font-size: 1rem;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
